<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">
</head>
<body>
<div th:fragment="adminButtons">
<form method="GET" th:action="@{/admin/createactor}">
  <button class="btn">
    <i class="fas fa-plus fa-2x">Add actor</i>
  </button>
</form>
<form method="GET" th:action="@{/admin/createproducer}">
  <button class="btn">
    <i class="fas fa-plus fa-2x">Add producer</i>
  </button>
</form>
  <form method="GET" th:action="@{/admin/createmovie}">
    <button class="btn">
      <i class="fas fa-plus fa-2x">Add movie</i>
    </button>
  </form>
</div>
</body>
</html>